<div class="col-md-8 col-md-offset-1" ng-controller="CreateTournamentController" >
    <h2>Neues Turnier erstellen</h2>

    <form class="form-horizontal" name="newTournamentFrm" id="newTournamentForm" role="form" ng-submit="saveNewTournament()">
        <div class="form-group">
            <label class="control-label col-sm-5 createTour" for="tournamentName">Name des Turniers:</label>

            <div class="col-sm-6">
                <input type="text" name="fname" class="form-control" ng-model="fields.name" id="tournamentName" placeholder="Mein Turnier" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5" for="gameDuration">Dauer eines Spieles (Minuten):</label>

            <div class="col-sm-6">
                <input type="number" name="fduration" min="1" max="120" class="form-control" ng-model="fields.duration" id="gameDuration" placeholder="15 Minuten" required>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5" for="tournamentType">Turnier Typ:</label>

            <div class="col-sm-6">
                <select name="ftype" class="form-control" ng-model="fields.type" id="tournamentType" required>
                    <option value="0" selected>Bitte Auswählen</option>
                    <option value="1">Round Robin</option>
                    <option value="2">Mix</option>
                    <option value="3">KO</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5" for="teamcount">Anzahl der Teams:</label>

            <div class="col-sm-6">
                <input type="number" name="fcount" min="3" max="20" class="form-control" ng-model="fields.count" id="teamcount" placeholder="mind. 3 Teams" required>
            </div>
        </div>
        <hr/>
        <div class="form-group">
            <label class="control-label col-sm-5" for="teamNames2">Team 1:</label>

            <div class="col-sm-6">
                <input type="text" name="fteam" class="form-control" id="teamNames1" ng-model="fields.teamname1" placeholder="Teamname 1">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5" for="teamNames2">Team 2:</label>

            <div class="col-sm-6">
                <input type="text" name="fteam" class="form-control" id="teamNames2" ng-model="fields.teamname2" placeholder="Teamname 2">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-5" for="teamNames3">Team 3:</label>
            <div class="col-sm-6">
                <input type="text" name="fteam" class="form-control" id="teamNames3" placeholder="Teamname 3">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-11">
                <button type="submit" ng-disabled="newTournamentFrm.fname.$error.required ||
                newTournamentFrm.fduration.$error.required ||
                newTournamentFrm.fname.$error.required ||
                newTournamentFrm.ftype.$error.required ||
                newTournamentFrm.fcount.$error.required" class="btn btn-default pull-right" >Turnier anlegen</button>
            </div>
        </div>
    </form>
</div>

