<div  class="col-md-8 col-md-offset-1">
    <h2>Einloggen</h2>
    <form name="loginForm" id="loginForm" class="form-horizontal col-md-offset-2" role="form" ng-submit="checkUser()">
        <div class="form-group" >
            <label class="control-label col-sm-3" for="loginEmail">Email:</label>
            <div class="col-sm-6">
                <input type="email" name="loginEmail"ng-model="login.email" class="form-control" id="loginEmail" placeholder="" email >
                <span class="bg-danger" ng-show="loginForm.loginEmail.$error.email">Keine gueltige E-Mail!</span>

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="loginPwd">Passwort:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" id="loginPwd" placeholder="Passwort eingeben">
            </div>
        </div>




        <div class="form-group">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-default pull-right" >Login</button>
            </div>
        </div>



    </form>
</div>