<div  class="col-md-8 col-md-offset-1">
    <h2>Registrieren</h2>
    <form name="registerForm" id="newRegisterForm" class="form-horizontal col-md-offset-2" role="form" ng-submit="saveNewUser()">
        <div class="form-group">
            <label class="control-label col-sm-3" for="registerName">Name:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"ng-model="myUser.name"  id="registerName"placeholder="Max">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="registerNachname">Nachname:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control"ng-model="myUser.surname" id="registerNachname" placeholder="Mustermann">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="registerBenutzername">Benutzername:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" ng-model="myUser.username" id="registerBenutzername" placeholder="Mmustermann">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" for="registerPwd">Passwort:</label>
            <div class="col-sm-6">
                <input type="password" class="form-control"  ng-model="myUser.password" id="registerPwd" placeholder="Passwort eingeben">
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-3" for="registerEmail">Email:</label>
            <div class="col-sm-6">
                <input type="email" name="registerEmail"ng-model="myUser.email" class="form-control" id="registerEmail" placeholder="someone@example.de" >
                <span class="bg-danger" ng-show="registerForm.registerEmail.$error.email">Keine gueltige E-Mail!</span>



            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-default pull-right" >Registrieren</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <button type="button" class="btn btn-default pull-right" ng-click="showUser()">Test</button>
            </div>
        </div>



    </form>
</div>