<div class="col-md-9 col-md-offset-1">
    <h2>Turnier: {{currentTournament.name}}</h2>
    <form class="form-horizontal col-md-offset-2" ng-init="initData()" role="form">
        <div class="form-group">

            <table class="table table-hover myTable">
                <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center">Team 1</th>
                    <th class="text-center">Team 2</th>
                    <th class="text-center">Team 3</th>
                    <th class="text-center">Spiele <br/>(Punkte)</th>
                    <th class="text-center">Platz <br/>(Punkte)</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="teams in currentTournament.teams" >
                    <td ng-repeat="team in teams">{{team.teamname}}</td>
                    <td></td>
                    <td class="text-center"> 1:0 </td>
                    <td class="text-center"> 2:1 </td>
                    <td class="text-center"> 2:0 <br/>(3:1)</td>
                    <td class="text-center"> 1st </td>
                </tr>

                <!--<tr>>
                    <td>Team 2 </td>
                    <td class="text-center"> 0:1 </td>
                    <td class="text-center">  </td>
                    <td class="text-center"> 4:0 </td>
                    <td class="text-center"> 1:1 <br/>(4:1)</td>
                    <td class="text-center"> 2st </td>
                </tr>

                <tr>>
                    <td>Team 3 </td>
                    <td class="text-center"> 1:2 </td>
                    <td class="text-center"> 0:4 </td>
                    <td class="text-center">  </td>
                    <td class="text-center"> 2:0 <br/>(1:6)</td>
                    <td class="text-center"> 3st </td>
                </tr>-->
                </tbody>

            </table>
        </div>
    </form>
</div>

