<div class="col-md-9 col-md-offset-1" ng-controller="RoundRobinController">
    <h2>Turnier: {{currentTournament.name}}</h2>
    <form class="form-horizontal col-md-offset-2" ng-init="initData()" role="form">
        <div class="form-group">

            <table class="table table-hover myTable">
                <thead>
                <tr>
                    <th class="text-center"></th>
                    <th class="text-center" ng-repeat="team in currentTournament.teams">{{team.name}}</th>
                    <th class="text-center">Spiele <br/>(Punkte)</th>
                    <th class="text-center">Platz <br/>(Punkte)</th>
                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="team in currentTournament.teams" >
                    <td>{{team.name}}</td>
                    <td class="text-center" ng-modul="currentTournament.teams.name" ng-repeat="result in currentTournament.teams" ></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>

            </table>
        </div>
    </form>
</div>

