<div class="col-md-9 col-md-offset-2" ng-controller="CreateTournamentController">

    <form class="form-horizontal" name="newTournamentf" id="newTournamentForm" role="form">
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <a href="/"></a><span aria-hidden="true">&times;</span></button>
            <strong>Fertig!</strong> Turnier wurde erfolgreich gespeichert.
        </div>
    </form>
</div>